body {
    background-color: black;
    color: white;
}

img {
  height: 300px;
}

.carousel-item {
  justify-content: center;
}

#myCarousel {
  width: 500px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.509);
  padding: 5px;
}

/* SUBSCRIPTION FORM */

form#subcription {
    height: 42px;
}

#exampleInputEmail1 {
    margin-right: 10px;
}

.tour-card {
  display: flex;
  margin: 8px;
  background-color: rgb(49, 47, 47);
}

.card-header {
  background-color: darkgray;
}