body {
    background-color: black;
}

img {
  height: 600px;
}

.carousel-item {
  justify-content: center;
}

#myCarousel {
  width: 1100px;
  justify
    color: white;
}


/* SUBSCRIPTION FORM */

form#subcription {
    height: 42px;
}


#exampleInputEmail1 {
    margin-right: 10px;
}