body {
    background-color: black;
    color: white;
}

img {
  height: 300px;
}

.carousel-item {
  justify-content: center;
}

#myCarousel {
  width: 500px;
}


/* SUBSCRIPTION FORM */

form#subcription {
    height: 42px;
}

#exampleInputEmail1 {
    margin-right: 10px;
}